# byte_compiled
__pycache__/
.DS_Store

# jupyter
.ipynb_checkpoints

# project-specific logs and data
checkpoints/
logs/
figs/
data/*/
# ^ note: keeps the probe_outputs file

# scrap files
sandbox.ipynb
junglegym.ipynb
